*{
    box-sizing: border-box;
}
body{
    background-color: rgb(247, 245, 245);
}
.card-body{
    font-family: 'Montserrat',sans-serif;
}
.card-footer{
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    height: 50px !important;
    align-items: center;
}
.card-text{
    padding-bottom: 10px;
}
.card-footer {
    font-family: 'Montserrat',sans-serif; 
}
hr{
    display: inline-block;
    height: 5px !important;
    width: 100%;
    border-radius: 6px;
}
.bg-transparent{
    background-color: transparent !important;
}
.content-head{
    display: inline-flex;
    background-color: white;
    border-bottom: 2px solid darkgray;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px !important;
}
.content-body{
    display: inline-block;
    padding: 10px 20px;
}
.disabled{
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}
