@media only screen and (min-width: 900px){
    .contain{
        display: inline-flex;
        width: 100%;
        justify-content: center;  
        /* align-items: center; */
        height: max-content;
        position: relative;    
        margin-top: 10px;
    }
    .slides-img.aktif{
        display: inline-flex;
        width: 80%;
        height: 80%;
        position: relative;
        /* top: 200px; */
        /* margin: 100px auto; */
        z-index:0;
        opacity: 1;
        transition: all 1s ;
        
        
    }
    .slides-img img{
        display: inline-flex;
        width: 100%;
        height: 60%;
        justify-content: center;
        position: relative;
        top: 50%;
        margin-left: auto;
        margin-right: auto;
        z-index: 3;
        transition: all .5s ;
        border-radius: 6px;  
        box-shadow: 0px 0px 4px black;
    }
    .slides-img{
        display: none;
        opacity: 0;
    }
    .button{
        display: inline-flex;
        width: 80%;
        height: max-content;
        position: absolute;
        z-index: 2;
        top: 45%;
        left: 10%;
        /* border: 1px solid black; */
        justify-content: space-between;
        /* border-radius: 0px 6px 6px 0px; */
        /* background-color: transparent; */
        /* border: none; */
        /* border: 1px solid black; */
    }
    .button .buttons:focus{
        border: none;
        outline: none;
    }
    .button .buttons{
        display: inline-block;
        /* padding: 20px 20px; */
        height: 50px;
        width: 50px;
        position: relative;
        z-index: 2;
        border-radius: 50%;
        background-color: aquamarine;
        border:none;
        margin: 0px -20px;
        opacity: .5;
    }
    .buttons.minggir{
        margin: 0px 20px;
    }
    .buttons:hover{
        opacity: 1;
        background-color: rgb(64, 160, 128);
        /* border: 1px solid white; */
    }
    .buttons:hover > span i{
        color: white;
    }
    .buttons span i{
        color: darkgray;
    }
    .slides-img img:hover + .button > .buttons{
        margin: 0px 20px;
    }
    .caption{
        display: inline-flex;
        position: absolute;
        z-index: 9;
        bottom: 0px;
        /* left: 50%; */
        width: 100%;
        height: 100px;
        background-color: rgb(64, 156, 126, .8);
        align-items: center;
        justify-content: center;
        border-radius: 0px 0px 6px 6px;  
        z-index: 4;
    }
    .caption > p{
        display: inline-block;
        padding: 0px;
        margin: 0px;
        font-family: 'Montserrat',sans-serif;
        color: white;
        font-size: larger;
        font-weight: bold;
        /* box-shadow: 0px 0px 4px black; */
    }
}
@media only screen and (max-width:899px) {
    .contain{
        display: none;
    }
}